body{
	background:#efefef;
	font-family:arial;
}
nav{
	background-color:#66ffff;
	height:30px;
	width:100px;
	align-items: center;
	padding:10px 20px;
	color:red;
}
.nav li{
	float: left;
	list-style: none;
	position: relative;
	padding-right:10px;
}
p{
	font-size:14px;
	color:#00ff00;
}
.top{
	background: url(https://media3.picsearch.com/is?suQz4y35sNJCTXry-x1Ole-rh09Aiwn3mkvDxl8JMfw&height=240);
	background-size: cover;
	padding:15px 100px;
}
.middle0{
	text-align: center;
	padding-top:3px;
	padding-bottom: 3px;
}